# code-server
PASSWORD=openai

# OpenAI / GitHub
OPENAI_API_KEY="xxxxxx"

# Postgres
POSTGRES_USER=trainer
POSTGRES_PASSWORD=trainer
POSTGRES_DB=trainerdb

# PGAdmin
PGADMIN_EMAIL=xxx@accenture.com
PGADMIN_PASSWORD=openai

# BigQuery emulator
GOOGLE_CLOUD_PROJECT=local-project


ORACLE_USER=xxxx
ORACLE_PASSWORD="openai!"
ORACLE_HOST=oracledb
ORACLE_PORT=1521
ORACLE_SERVICE=LEGACYDB
ORACLE_MCP_SCRIPT=/hackathon/services/mcp/oracle_mcp_server.py


NEXT_PUBLIC_API_URL=http://localhost:8000
API_PORT=8000
ORCHESTRATOR_PORT=8001
CONTEXT_GRAPH_PORT=8002
